<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Draw</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        {{ prediction }}
        <div id="draw">
            <form action="" method="POST">
                <canvas id="canvas" width=56 height=56></canvas>
                <input type="hidden" id="imgData" name="imgData">
                <div id="buttons">
                    <button id="submit" class="form_button">Submit</button>
                    <button  id="clear" class="form_button" type="button">Clear</button>
                </div>
            </form>
        </div>
    </body>
    <script>
        const canvas = document.getElementById("canvas");
        const ctx = canvas.getContext("2d");

        ctx.fillStyle = "#000";
        ctx.fillRect(0, 0, 56, 56);

        const clear = document.getElementById("clear");
        clear.addEventListener("click", e => {
            ctx.fillStyle = "#000";
            ctx.fillRect(0, 0, 56, 56);
        });

        const submit = document.getElementById("submit");
        submit.addEventListener("click", e => {
            let imgData = canvas.toDataURL('image/png', 1.0);
            imgData = imgData.substring(imgData.indexOf(',') + 1).toString();
            document.getElementById("imgData").value = imgData;
        });

        let draw = false;
        let x = 0;
        let y = 0;

        canvas.addEventListener("mousedown", e => {
            x = e.offsetX;
            y = e.offsetY;
            draw = true;
        });

        canvas.addEventListener("mousemove", e => {
            if (draw == true) {
                drawLine(ctx, x, y, e.offsetX, e.offsetY);
                x = e.offsetX;
                y = e.offsetY;
            }
        });

        window.addEventListener("mouseup", e => {
            drawLine(ctx, x, y, x + 1, y + 1);
            draw = false;
        });
        
        let rect = canvas.getBoundingClientRect();

        canvas.addEventListener("touchstart", e => {
            x = e.touches[0].pageX - rect.left;
            y = e.touches[0].pageY - rect.top;
            draw = true;
        });

        canvas.addEventListener("touchmove", e => {
            if (draw === true) {
                drawLine(ctx, x, y, e.touches[0].pageX - rect.left, e.touches[0].pageY - rect.top);
                x = e.touches[0].pageX - rect.left;
                y = e.touches[0].pageY - rect.top;
            }       
        });

        window.addEventListener("touchend", e => {
            draw = false;
        });

        function drawLine(ctx, x1, y1, x2, y2) {
            ctx.beginPath();
            ctx.strokeStyle = "#FFF";
            ctx.lineWidth = 3;
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.stroke();
            ctx.closePath();
        }
    </script>
</html>